#timer{
  font-size: 32px;
  margin-left: 40px;
  margin-bottom: 30px;
  letter-spacing: 6px;
}

#start{
  width: 90px;
  height: 40px;
  font-weight: bold;
  background-color: #c0c0c0;
}

#stop{
  width: 90px;
  height: 40px;
  font-weight: bold;
  background-color: #c0c0c0;
}

#reset{
  width: 90px;
  height: 40px;
  font-weight: bold;
  background-color: #c0c0c0;
}

span{
  font-size: 22px;
}